<%- include('../partials/header')%>

  <h1>TESTING SPECIFIC SONG EDIT</h1>

  <h2>Edit Song:</h2>

  <form action="/song/<%= song.id %>?_method=put" method="post">
    <p>
      <label>Song Title:</label>
      <input type="text" name="title">
    </p>
    <p>
      <label>Album Title:</label>
      <input type="text" name="albumTitle">
    </p>
    <p>
      <label>Artist: </label>
      <select name="artistId">
        <% artists.forEach((artist)=> { %>
          <option value="<%= artist.id %>">
            <%= artist.name %>
          </option>
          <% }); %>
      </select>
    </p>
    <input type="submit" value="Favorite">
  </form>

  <%- include('../partials/footer')%>