<%- include('../partials/header')%>
  <div class="flex">
    <div class="content-container">
      <div class="title">
        <h1>Favorite a New Song</h1>
      </div>
      <div class="content">
        <form action="/song" method="post" accept-charset="utf-8">
          <p>
            <label>Artist: </label>
            <select name="artistId">
              <% artists.forEach((artist)=> { %>
                <option value="<%= artist.id %>">
                  <%= artist.name %>
                </option>
                <% }); %>
            </select>
          </p>
          <p>
          <h4>Artist not listed? Go ahead and click <a href="/artist/new" style="text-decoration: underline; text-decoration-style: solid;">here</a></h4>
          </p>
          <p>
            <label>Album: </label>
            <select name="albumId">
              <% albums.forEach((album)=> { %>
                <option value="<%= album.id %>">
                  <%= album.albumTitle %>
                </option>
                <% }); %>
            </select>
          </p>
          <p>
          <h4>Album not listed? Go ahead and click <a href="/album/new" style="text-decoration: underline; text-decoration-style: solid;">here</a></h4>
          </p>
          <p>
            <label>Song Title:</label>
            <input type="text" name="title">
          </p>
          <input type="submit" value="Favorite">
        </form>
      </div>
    </div>
  </div>
  <%- include('../partials/footer')%>