<%- include('../partials/header')%>
    <div class="flex">
        <div class="content-container">
            <div class="title">
                <h1>Favorited
                    <br>Songs</h1>
            </div>
            <div class="content">
                <ul>
                    <% songs.forEach((song) => { %>
                        <li>
                            "
                            <%= song.title %>" by
                                <% artists.forEach((artist) => { %>
                                    <% if (artist.id === song.artistId) { %>
                                        <% return name = artist.name; %>
                                            <% }; %>
                                                <% }); %>
                                                    <%= name %>
                                                        <br>
                                                        <a href="/song/edit/<%= song.id %>" class="edit">
                                                            <i class="far fa-edit"></i>
                                                        </a>
                                                        <form method="POST" action="/song/<%= song.id %>?_method=delete" style="display: inline;">
                                                            <button type="submit" name="_method" value="DELETE" class="circle">
                                                                <i class="far fa-times-circle"></i>
                                                            </button>
                                                        </form>
                        </li>
                        <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <%- include('../partials/footer')%>