<%- include('../partials/header') %>

    <h1>TESTING SONG SHOW</h1>

    <ul>
        <% songs.forEach((song)=> { %>
            <li>
                "<%= song.title %>" <a href="/song/edit/<%= song.id %>">EDIT BUTTON</a> <form action="/song/<%= song.id %>?_method=delete" method="post">
                <input type="submit" value="Remove">
              </form>
            </li>
            <% }); %>
    </ul>

    <%- include('../partials/footer') %>