<%- include('../partials/header')%>

    <h1>TESTING ARTIST SHOW</h1>

    <ul>
        <% artists.forEach((artist)=> { %>
            <li>
                <%= artist.name %>
                    <a href="/artist/edit/<%= artist.id %>">
                        <i class="far fa-edit"></i>
                    </a>
                    <form method="POST" action="/artist/<%= artist.id %>?_method=delete">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">
                            <i class="far fa-times-circle"></i>
                        </button>
                    </form>
            </li>
            <% }); %>
    </ul>

    <%- include('../partials/footer')%>